body {
  font-family: monospace;
}

.flex {
  align-items: center;
  display: flex;
}

.flex > *:not(:last-child) {
  margin-right: .5em;
}

a {
  text-decoration: none;
}

.bg-green {
  background-color: green;
  color: #FFF;
}

.bg-red {
  background-color: red;
  color: #FFF;
}

.green {
  color: green;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.bold {
  font-weight: bold;
}

#ws-status span {
  padding: 3px;
}

#log {
  word-break: break-all;
}
