doctype html

html(lang="en")
    head
        meta(charset="UTF-8")

        link(rel="stylesheet" href="styles.css")

        title WSTester

    body
        h3 Server

        form#server-form
            input#server

            input(type="submit" value="Connect")

        button#disconnect Disconnect

        br
        br

        #ws-status

        h3 Console

        form#console-form
            input#console

            input(type="submit" value="Send")

        h3 Log

        #log

        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="script.js")