body {
  font-family: monospace;
}

#ws-status span {
  padding: 3px;
}

.bg-green {
  background-color: green;
  color: #FFF;
}

.bg-red {
  background-color: red;
  color: #FFF;
}

.green {
  color: green;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

form {
  display: inline-block;
}

input, button, #ws-status span {
  margin: 0 5px;
}